{% include base.html %}
<footer class="footer">
    <p class="footer--copyright">Copyright 2025 Nikolas Fabian Kammerer</p>
    <ul class="footer--link-list">
        <li class=footer--link-list-elem>
            <a class="footer--link" href="{{ base }}/agb.html">AGB</a>
        </li>
        <li class=footer--link-list-elem>
            <a class="footer--link" href="{{ base }}/copyright.html">Copyright</a>
        </li>
        <li class=footer--link-list-elem>
            <a class="footer--link" href="{{ base }}/privacy.html">Privacy</a>
        </li>
        <li class=footer--link-list-elem>
            <a class="footer--link" href="{{ base }}/imprint.html">Imprint</a>
        </li>
    </ul>
</footer>