<nav class="global_nav">
    <div class="global_nav__home">
        <a class="global_nav__home__link" href="/">Nikolas Fabian Kammerer</a>
    </div>
    <ul class="global_nav__items">
        <li class="global_nav__item">
            <a class="global_nav__item__link" href="/about/">About</a>
        </li>
        <li class="global_nav__item">
            <a class="global_nav__item__link" href="/contact/">Contact</a>
        </li>
        <li class="global_nav__item">
            <a class="global_nav__item__link" href="/imprint/">Imprint</a>
        </li>
        <li class="global_nav__item">
            <a class="global_nav__item__link" href="/privacy/">Privacy</a>
        </li>
    </ul>
</nav>