{% include base.html %}
<nav class="global_nav">
    <div class="global_nav__constraint">
        <a class="global_nav__home__link" href="{{ base }}/">Nikolas Fabian Kammerer</a>
        <div class="global_nav__items">
            <a
              class="global_nav__item__link {% if page.url == '/about.html' %}global_nav__item--active{% endif %}"
              href="{{ base }}/about.html">
                About
            </a>
            <a 
              class="global_nav__item__link {% if page.url == '/contact.html' %}global_nav__item--active{% endif %}" 
              href="{{ base }}/contact">
                Contact
            </a>
            <a class="global_nav__item__link global_nav__item__link--insta"
                href="https://www.instagram.com/nikolas_fabian_kammerer/">
                <img src="{{ base }}/assets/img/icon/inst-flat.svg" alt="instagram logo"> 
                <span>Instagram</span>
            </a>
        </div>
    </div>
</nav>

