{% include base.html %}
<div class="photo_gallery">
    {% for post in site.posts %}
    <div class="photo_container">
        <div class="photo_content">
            <a class="photo__info_box" href="{{ base }}{{ post.url }}">
                <p class="photo__info_title">
                    {{ post.title }}
                </p>
            </a>
            <img class="photo__image" src="{{ base }}/assets/img/photos/{{ post.image }}">
        </div>
    </div>
    {% endfor %}
</div>
<script src="{{ base }}/assets/js/masonry.js"></script>