{% include base.html %}
<div class="photo_gallery">
    {% for photo in site.data.photos %}
    <div class="photo_container">
        <div class="photo_content">
            <a class="photo__info_box" href="/">
                <p class="photo__info_title">
                    {{ photo.name }}
                </p>
                <p class="photo__info_description">
                    {{ photo.description }}
                </p>
            </a>
            <img class="photo__image" src="{{ base }}/assets/img/{{ photo.file }}" alt="{{ photo.description }}">
        </div>
    </div>
    {% endfor %}
</div>
<script src="{{ base }}/assets/js/masonry.js"></script>