$background: #fff;
$foreground-100: rgb(16, 17, 19);
$foreground-080: rgb(47, 50, 54);
$foreground-060: rgb(82, 86, 92);
$foreground-040: rgb(111, 116, 124);
$foreground-000: rgb(242, 242, 245);
$foreground-001: rgb(249, 249, 250);
$primary-080: rgb(0, 99, 228);
$primary-100: rgb(0, 54, 170);