.photo_gallery {
  display: grid;
  row-gap: 2em;
  column-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  grid-auto-rows: 0;
}

.photo_container {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  line-height: 0;
  &:hover {
    .photo__info_box {
      opacity: 1;
    }
  }
}
.photo__image {
  display: block;
  line-height: 0;
  width: 100%;
  object-fit: cover;
}

.photo__info_box {
  opacity: 0;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: rgba($color: #000, $alpha: 0.90);
  color: #eee;
  transition: opacity 0.2s;
}
.photo__info_title {
font-size: 0.8em;
}