$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 6em 0 4em 0;
}

.global_nav {
  display: block;
  z-index: 1;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.80);

  a {
    text-decoration: none;
    color: $bodyColor;
    display: inline-block;
  }
}

.global_nav__home {
  font-weight: bold;
  padding: 0.5em 1em;
}

.global_nav__home__link {
  padding: 0.5em 0.5em;
  border-radius: 4px;
  &:hover {
    background-color: #eee;
  }
}

.global_nav__items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0 0.5em;
}

.global_nav__item {
  padding: 0.5em 0.5em;
}

.global_nav__item__link {
  padding: 0.5em 0.5em;
  border-radius: 4px;
  &:hover {
    background-color: #eee;
  }
}

.photo_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.photo {
  margin: 2.5em;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    .photo__info_box {
      opacity: 1;
    }
  }
}

.photo__info_box {
  opacity: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba($color: #000, $alpha: 0.90);
  color: #eee;

  transition: opacity 0.2s;
}

.photo__info_title {
  padding: 1em 2em;
}

.photo__image {
  width: 100%;
  line-height: 0;
  display: block;
}
@media screen and (min-width: 640px) {
  .global_nav {
    padding: 0.5em 0;
    display: flex;
  }
  .global_nav__home {
    margin-left: 1em;
  }
  .global_nav__items {
    margin-right: 1em;
  }
}