.global_nav {
  display: block;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: $background;
}

.global_nav__constraint {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.global_nav__home__link {
  display: block;
  font-weight: bold;
  color: $foreground-100;
  text-decoration: none;
  line-height: 1.5em;
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  &:hover {
    color: $foreground-060;
  }
}

.global_nav__items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.global_nav__item__link {
  line-height: 1.5rem;
  padding: 0.25rem 0.75rem;
  margin: 0 0.25rem;
  border-radius: 6px;
  color: $foreground-100;
  text-decoration: none;
  background-color: $foreground-000;
  color: $foreground-100;
  &:first-child {
    margin-left: 0;
  }
}

.global_nav__item__link--insta {
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  display: flex;
  align-items: center;
}

.global_nav__item--active {
  color: $background;
  background-color: $foreground-100;
  &:hover {
    color: $background;
    background-color: $foreground-100;
  }
}

@media screen and (min-width: 40rem) {
  .global_nav__constraint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .global_nav__item__link {
    background-color: $background;
    &:hover {
      background-color: $foreground-000;
      color: $foreground-100;
    }
  }
  .global_nav__home__link {
    margin-bottom: 0;
  }
  .global_nav__item--active {
    color: $background;
    background-color: $foreground-100;
    &:hover {
      color: $background;
      background-color: $foreground-100;
    }
  }
}