.global_nav {
  display: block;
  z-index: 1;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.95);
  padding: 1em 1.5em;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: $bodyColor;
    display: inline-block;
  }
}

.global_nav__home__link {
  font-weight: bold;
  padding: 0.5em 0.5em;
  border-radius: 4px;
  &:hover {
    background-color: #eee;
  }
}

.global_nav__items {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
}

.global_nav__item {
  margin-right: 0.5em;
}

.global_nav__item__link {
  padding: 0.5em 0.5em;
  border-radius: 4px;
  &:hover {
    background-color: #eee;
  }
}

.global_nav__item--active {
  .global_nav__item__link {
    background-color: #333;
    color: #fff;
  }
}

@media screen and (min-width: 640px) {
  .global_nav {
    display: flex;
  }
  .global_nav__item {
    margin-right: 0;
    margin-left: 1.5em;
  }
  .global_nav__items {
    margin-top: 0;
  }
}