.global_nav {
  display: block;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.95);
  a {
    text-decoration: none;
    color: $bodyColor;
    display: inline-block;
  }
}

.global_nav__constraint {
  display: flex;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: space-between;

}

.global_nav__home__link {
  font-weight: bold;
  padding: 1.25em 0;
  border-radius: 4px;
  &:hover {
    color: #666;
  }
}

.global_nav__items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.global_nav__item__link {
  padding: 1em 0;
  border-top: 0.25em white solid;
  border-bottom: 0.25em white solid;
  &:hover {
    color: #666;
    border-bottom-color: #666;
  }
}

.global_nav__item--active {
  .global_nav__item__link {
    border-bottom-color: #333;
    color: #333;
  }
}

@media screen and (min-width: 640px) {
  .global_nav__item {
    margin-right: 0;
    margin-left: 2em;
  }
}