.post {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;

    img {
        border-radius: 2px;
        display: block;
        width: 100%;
        margin: 3rem 0;
    }
}

.post_description {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 40rem;
    color: #445;
}

.post_header {
    display: flex;
}

.posts_pager {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.pager_button {
    text-decoration: none;
    display: block;
    border-radius: 20px;
    padding: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
    margin: 0;
    opacity: 1;
    background-color: #fff;
    transition: background-color 0.2s;
    &:hover {
        background-color: #eee;
    }
    &:first-child {
        margin-right: 0.5rem;
    }
    img {
        margin: 0;
    }
}

.post_title {
    flex-grow: 1;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    margin-right: 3rem;
    text-align: left;
}

.pager_button.pager_button--inactive {
    background-color: #fff;
    img {
        opacity: 0.2;
    }
}