---
layout: default
---
{% include base.html %}
<div class="page__contact">
  {{ content }}
  <div class="contact__channels">
    <div class=contact__channel>
      <div class="contact__icon">
        <img src="{{ base }}/assets/img/icon/mail-flat.svg">
      </div>
      <p class="contact__label">
        info[at]nikolasfabiankammerer.de
      </p>
    </div>
    <div class=contact__channel>
      <div class="contact__icon">
        <img src="{{ base }}/assets/img/icon/phone-flat.svg">
      </div>
      <p class="contact__label">
        +49 (0) 176 623 859 83
      </p>
    </div>
    <div class=contact__channel>
      <div class="contact__icon">
        <img src="{{ base }}/assets/img/icon/inst-flat.svg">
      </div>
      <p class="contact__label">
        Instagram <a href="https://www.instagram.com/nikolas_fabian_kammerer/">@nikolas_fabian_kammerer</a>
      </p>
    </div>
    <div class=contact__channel>
      <div class="contact__icon">
        <img src="{{ base }}/assets/img/icon/studio-flat.svg">
      </div>
      <p class="contact__label">
        Nikolas Fabian Kammerer<br />
        Karl-Ferlemann-Str. 22<br />
        04177 Leipzig
      </p>
    </div>
  </div>
</div>