---
layout: default
---

<div class="post">
    <div class="posts_pager">
        {% if page.next == nil %}
        <a class="pager_button pager_button--inactive">
            <img src="{{ base }}/assets/img/icon/arrow-left.svg" alt="next">
        </a>
        {% else %}
        <a class="pager_button" href="{{ base }}{{ page.next.url }}">
            <img src="{{ base }}/assets/img/icon/arrow-left.svg" alt="next">
        </a>
        {% endif %}
        <h1 class="post_title">{{ page.title }}</h1>
        {% if page.previous == nil %}
        <a class="pager_button pager_button--inactive">
            <img src="{{ base }}/assets/img/icon/arrow-right.svg" alt="previous">
        </a>
        {% else %}
        <a class="pager_button" href="{{ base }}{{ page.previous.url }}">
            <img src="{{ base }}/assets/img/icon/arrow-right.svg" alt="previous">
        </a>
        {% endif %}
    </div>
    <p>{{ page.description }}</p>
    <img class="post_hero_image" src="{{ base }}/assets/img/{{ page.image }}">
    {{ content }}
</div>