---
layout: default
---
{% include base.html %}

<div class="post">
    <div class="post_header">    
        <h1 class="post_title">{{ page.title }}</h1>
        <div class="posts_pager">
            {% if page.next == nil %}
            <a class="pager_button pager_button--inactive">
                <img src="{{ base }}/assets/img/icon/arrow-left-flat.svg" alt="next">
            </a>
            {% else %}
            <a class="pager_button" href="{{ base }}{{ page.next.url }}">
                <img src="{{ base }}/assets/img/icon/arrow-left-flat.svg" alt="next">
            </a>
            {% endif %}
    
            {% if page.previous == nil %}
            <a class="pager_button pager_button--inactive">
                <img src="{{ base }}/assets/img/icon/arrow-right-flat.svg" alt="previous">
            </a>
            {% else %}
            <a class="pager_button" href="{{ base }}{{ page.previous.url }}">
                <img src="{{ base }}/assets/img/icon/arrow-right-flat.svg" alt="previous">
            </a>
            {% endif %}
        </div>
    </div>
    <p class="post_description">{{ page.description }}</p>
    <img class="post_hero_image" src="{{ base }}/assets/img/photos/{{ page.image }}">
    {{ content }}
</div>